/********************* RESET ********************
************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #000000;
    color: #fff;
}

/********************* REUSABLE CSS ********************
********************************************************/

.row, .align {
    display: flex;
    align-items: center;
}

header .header-icons .fa-table-cells,
header .header-icons .fa-maximize {
    background-color: #474a4a;
    font-size: 1.3rem;
    padding: 6px;
    border-radius: 5px;
}

i {
    cursor: pointer;
}

header .header-icons,
footer .footer-ctn {
    width: 100%;
}

footer .footer-ctn .audio-video .smaller,
footer .footer-ctn .nav-menu .smaller {
    font-size: 1.2rem;
}

/********************* HEADER ********************
************************************************/

header {
    height: 60px;
}

header .header-icons {
    justify-content: flex-end;
}

header .header-icons i span {
    font-family: 'Roboto', sans-serif;
    margin-left: 5px;
}

header .header-icons .fa-maximize {
    margin: 0 5px;
}

/********************* MAIN********************
************************************************/

main {
    height: calc(100vh - 129px);
}

main .profile-ctn {
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

main .profile-ctn .profile-user {
    width: calc(100% / 7 - 12px);
    margin: 6px 3px;
    position: relative;
}

main .profile-ctn .profile-user img {
    display: block;
    width: 100%;
}

main .profile-ctn .profile-info {
    background-color: #616e79;
    font-size: 1.3rem;
    padding: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
}

/********************* FOOTER ********************
************************************************/

footer {
    background-color: #222222;
    margin-top: 50px;
}

footer .footer-ctn {
    justify-content: space-between;
}

footer .footer-ctn i {
    font-size: 2.4rem;
}

footer .footer-ctn .audio-video .smaller {
    margin: 0 5px;
}


footer .footer-ctn .exit h4 {
    background-color: #4a4a4a;
    color: #95231a;
    font-size: 1.4rem;
    padding: 26px 10px;
}

.audio, .video,
footer .footer-ctn .nav-menu .btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
}

.audio i, .video i,
.footer-ctn .nav-menu .btn i {
    margin-bottom: 5px;
}


.smaller {
    font-size: 1rem;
}

.green {
    color: #4bc800;
}



