/********************* RESET ********************
************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    background-color: #000000;
    color: #fff;
}

/********************* REUSABLE CSS ********************
********************************************************/

.row, .align {
    display: flex;
    align-items: center;
}

header .header-icons .fa-table-cells,
header .header-icons .fa-maximize {
    background-color: #474a4a;
    font-size: 1.3rem;
    padding: 6px;
    border-radius: 5px;
}

i {
    cursor: pointer;
}

header .header-icons,
footer .footer-ctn {
    width: 100%;
}

footer .footer-ctn .audio-video .smaller,
footer .footer-ctn .nav-menu .smaller {
    font-size: 1.2rem;
}

/********************* HEADER ********************
************************************************/

header {
    height: 40px;
}

header .header-icons {
    justify-content: flex-end;
}

header .header-icons i span {
    font-family: 'Roboto', sans-serif;
    margin-left: 5px;
}

header .header-icons .fa-maximize {
    margin: 0 5px;
}

/********************* MAIN********************
************************************************/

main {
    height: calc(100vh - 120px);
    overflow: auto;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  ::-webkit-scrollbar-thumb {
    background: #000000;
    border: 0px none #ffffff;
    border-radius: 11px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  ::-webkit-scrollbar-track {
    background: #040803;
    border: 0px none #ffffff;
    border-radius: 14px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #666666;
  }
  ::-webkit-scrollbar-track:active {
    background: #333333;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

main .profile-ctn {
    flex-wrap: wrap;
    width: 90vw;
    margin: 0 auto;
}

main .profile-ctn .profile-user {
    width: calc(90vw / 7);
    position: relative;
}

main .profile-ctn .profile-user img {
    display: block;
    width: 100%;
    padding: 5px;
}

main .profile-ctn .profile-info {
    background-color: #616e79;
    font-size: 1.3rem;
    padding: 4px;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

/********************* FOOTER ********************
************************************************/

footer {
    height: 80px;
    background-color: #222222;
}

footer .footer-ctn {
    justify-content: space-between;
}

footer .footer-ctn i {
    font-size: 2.4rem;
}

footer .footer-ctn .left,
footer .footer-ctn .right { 
    width: 15%;
}

footer .footer-ctn .right {
    justify-content: flex-end;
}

footer .footer-ctn .right .exit {
    background-color: #4a4a4a;
    color: red;
    padding: 0 30px;
    height: 80px;
    border: 0;
}



.left .btn-ctn-left .btn,
.center .btn {
    background-color: #222222;
    color: #fff;
    border: 0;
}

.footer-ctn .center .btn,
.footer-ctn .left .btn-ctn-left  {
    padding: 0 10px;
}

.left .btn-ctn-left .btn i,
.center .btn i {
    margin-bottom: 5px;
}

.left .btn-ctn-left .arrow i,
.center .arrow i {
    font-size: 1.3rem;
}





.green {
    color: #4bc800;
}


