/********************* RESET ********************
************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #000000;
    color: #fff;
}

/********************* REUSABLE CSS ********************
********************************************************/

.row {
    display: flex;
}

header .header-icons .fa-table-cells,
header .header-icons .fa-maximize {
    background-color: #474a4a;
    font-size: 1.3rem;
    padding: 6px;
    border-radius: 5px;
}

i {
    cursor: pointer;
}






/********************* HEADER ********************
************************************************/

header {
    align-items: center;
    height: 40px;
}

header .header-icons {
    justify-content: flex-end;
    width: 100%;
}

header .header-icons i span {
    font-family: 'Roboto', sans-serif;
    margin-left: 5px;
}

header .header-icons .fa-maximize {
    margin: 0 5px;
}

/********************* MAIN********************
************************************************/

main {
    height: calc(100vh - 40px);
    width: 90%;
    padding: 30px 0;
    margin: 0 auto;
}

main .profile-ctn {
    flex-wrap: wrap;
}

main .profile-ctn .profile-user {
    width: calc(100% / 7 - 12px);
    margin: 6px 3px;
    position: relative;
}

main .profile-ctn .profile-user img {
    display: block;
    width: 100%;
}

main .profile-ctn .profile-info {
    background-color: #616e79;
    font-size: 1.3rem;
    padding: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
}

/********************* FOOTER ********************
************************************************/

footer {
    border: 1px solid red;
}


